.register {
    width: 100vw;
    height: 100vh;
    h2{
        margin-bottom: 20px;
        text-align: center
    }
    .register-form {
        padding: 30px;
        margin-top: -15%;
        width: 300px;
        background: #fff;
    }
    .login-form-forgot {
        float: right;
    }
    .login-form-button {
        width: 100%;
        margin: 10px 0;
    }

    :global(.ant-form-item:last-child){
        margin-bottom: 0;
    }
}