.login {
    width: 100vw;
    height: 100vh;
    .login-form {
        padding: 30px;
        margin-top: -15%;
        width: 300px;
        min-height: 300px;
        background: #fff;
    }
    .login-form-forgot {
        float: right;
    }
    .login-form-button {
        width: 100%;
    }
}